*
.mainheading
{
    background-color:coral;
    color:black;
    font-size: 40PX;
    padding-top: 10PX;
    padding-bottom: 10px;
}
.head{
  background-color:moccasin;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.sub
{
  background-color: moccasin;
  font-size: 20px;
  padding-left: 25px;
}
.kk
{
  padding-top: 10px;
  background-color: moccasin;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
#tab
{
height: 300px;
width: 100%;
font-size: 20px;
text-align: center;

}
#tab th{
  font-size:27px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: maroon;
  color:white
}
#single 
{
  font-weight: bold;
  background-color: #ffbf80;
}
td{
  background-color: moccasin;
  padding-top: 5px;
}

